.bento {
    display: grid;
    gap: var(--spacing-base);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas: 
    "a a b"
    "c d b"
    "c d e"
    ;
    .title {
        --bg: var(--color-brand-yellow);
        grid-area: a;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .list {
        --bg: var(--color-brand-coffee);
        grid-area: d;
    }

    .image-1 {
        color: var(--color-text-accent);
        grid-area: b;
        display: grid;
        & > p{
            grid-column: 1;
            grid-row: 1;
            align-self: end;
            text-align: center;
            margin: 1rem;
            &:first-of-type{
                align-self: start;
            }
        }
        & > img{
           grid-column: 1;
            grid-row: 1; 
        }
    }

    .tag {
        --bg: var(--color-brand-olive);
        font-size: 2rem;
        line-height: 1.2;
        grid-area: e;
    }

    .image-2{
        grid-area: c;
        display: grid;
        object-fit: cover;
    }
 @media (width < 600px){
   grid-template-columns: 1fr 1fr;
   grid-template-areas: "a a"
   "b c"
   "d e";
 }
}

.card {
    border-radius: var(--border-radius);
    background: var(--bg);
    overflow: clip;

    &:not(:has(img)) {
        padding: var(--spacing-base);
    }
}

h2 {
    font-size: 4rem;
    line-height: 1.1;
    color: var(--color-text-dark);
    margin-bottom: var(--spacing-base);
}

.website {
    font-size: 1.2rem;
    margin-top: auto;
}



@layer {
    :root {
        /* Brand Colors */
        --color-brand-yellow: #FFB800;
        --color-brand-olive: #4A5F32;
        --color-brand-coffee: #5C3C2E;

        /* Background Colors */
        --color-background-dark: #2C1810;
        --color-background-primary: var(--color-brand-yellow);
        --color-background-menu: var(--color-brand-coffee);
        --color-background-accent: var(--color-brand-olive);

        /* Text Colors */
        --color-text-dark: var(--color-background-dark);
        --color-text-light: #FFFFFF;
        --color-text-accent: var(--color-brand-yellow);

        /* Component Colors */
        --color-logo-icon: var(--color-text-dark);
        --color-menu-highlight: var(--color-brand-yellow);

        /* Layout */
        --border-radius: 24px;
        --spacing-base: 20px;
        --spacing-large: 40px;
    }
}