:root {
    --color-heading: #0B0D19;
    --color-body: #677386;
    --color-bg-button: #3D7BFA;
    --color-text-button: #FFF;

    /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
    --hide-overlay: 0;
}

.grid{
    max-width: 1100px;
    margin: 50px auto;
    display: grid;
    @media (width > 800px){
         grid-template-columns: 1fr 1fr;
    }   
}


section:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
    padding: 50px; 
    button{
        background-color: var(--color-bg-button);
        color: var(--color-text-button);
        border-radius: 25px;
        max-width: 200px;
        padding: 20px 10px;
    }
    h1{
        color: var(--color-heading);
        font-size: 82px;
    }
    p{
        color: var(--color-body);
    }
    
    
}

section:last-of-type{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (width < 800px){
         order: -1;
    }   
    :nth-child(1){
        grid-column: 2;
    }
    :nth-child(2){
        grid-row: 2;
    }
    :nth-child(3){
        grid-row: 2 / span 2;
    }
    :nth-child(4){
        grid-column: 3;
        grid-row: 2;
    }
    :nth-child(4){
        grid-column: 3;
    }
    :nth-child(5){
        grid-row: 3;
    }
    :nth-child(6){
        grid-row: 3;
        grid-column: 3;
    }
    :nth-child(7){
        grid-row: 4;
        grid-column: 2;
    }
}

img{
    border-radius: 8px;
}

/* Begynd her... */